@import '@fontsource/fira-mono';

/** Cubano Font Import */
@import url('https://fonts.cdnfonts.com/css/cubano');


:root {
    --background-base: #222831;
    --background-secondary: #393e46;
    --active-color: #f96d00;
    --font-color: #f2f2f2;
    --font-mono: 'Fira Mono', monospace;
    --font-cubano: 'Cubano';
    font-family: var(--font-mono);
    color: white;
}

body {
    min-height: 99vh;
    background-color: var(--background-base);
    margin: 0px;
    padding: 0px;
    height: 100%;
}

